{% extends "index.html"%}

{% block title%}
    Citas
{%endblock%}
{% block ul%}
<li class="nav__items">
    <a href="#" class="nav__links">cerrar sesion</a>
</li>
{%endblock%}
{%block header%}
    <h1 class="hero__title">Bienvenido a PiroPiro!</h1>
{%endblock%}

{% block main%}
<section class="container about">
    <h2 class="subtitle">Citas</h2>
    <table class="table caption-top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de la cita</th>
            <th scope="col">Hora de la cita</th>
            <th scope="col">acciones</th>
          </tr>
        </thea
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Kirsten Lopez</td>
            <td> 24/05/2022</td>
            <td> 8:45 am</td>
            <td><button>aceptar</button> <button>rechazar</button></td>
          </tr>
        </tbody>
      </table>
</section>
{% endblock%}